<div class="ui-g">
    <div class="ui-g-12">
        <input pInputText class="ui-g-12" id="name" [(ngModel)]="rulesSet.name" placeholder="Nazwa zestawu reguł" />
    </div>
    <div class="ui-g-12" *ngFor="let variable of rulesSet.variables">
        <input class="ui-g-2 ui-sm-12" pInputText id="address" [(ngModel)]="variable.name" placeholder="Nazwa zmiennej" />

        <div class="ui-g-10 ui-sm-12 ui-g-nopad" style="padding: 0" *ngFor="let rule of variable.rules; let i = index" [ngClass]="{'ui-md-offset-2': i}">
          <div class="ui-inputgroup">
              <input pInputText id="pattern-{{variable.name}}" class="ui-g-5 ui-sm-12" [(ngModel)]="rule.regExp" placeholder="Wzorzec reguły"/>
              <p-calendar [timeOnly]="true" class="ui-g-2 ui-sm-12 ui-g-nopad ui-fluid" [(ngModel)]="rule.startTime" placeholder="Godzina początkowa"></p-calendar>
              <p-calendar [timeOnly]="true" class="ui-g-2 ui-sm-12 ui-g-nopad  ui-fluid" [(ngModel)]="rule.stopTime" placeholder="Godzina końcowa"></p-calendar>
              <input pInputText id="address" class="ui-g-2 ui-sm-12 ui-g-nopad" [(ngModel)]="rule.value" placeholder="Wartość zmiennej" />
              <span class="ui-inputgroup-addon"><i *ngIf="variable.rules.length > 1" class="fa fa-minus-circle" (click)="deleteRule(variable, rule)"></i></span>
          </div>

        </div>
    </div>
</div>

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button type="button" pButton icon="fa-plus" class="ui-button-info" (click)="addVariable()" label="Dodaj zmienną"></button>
        <button type="button" pButton icon="fa-plus" class="ui-button-info" (click)="addRule()" label="Dodaj regułę"></button>
    </div>

    <div class="ui-toolbar-group-right">
        <button type="button" pButton icon="fa-close" class="ui-button-danger" (click)="delete()" label="Usuń"></button>
        <button type="button" pButton icon="fa-check" class="ui-button-success" (click)="save()" label="Zapisz"></button>
    </div>
</p-toolbar>

