<div class="ui-g">
  <div class="ui-g-6 ui-sm-12">
      <p-fieldset legend="Mail SMTP" [toggleable]="true" collapsed="true">
        <div>
            <div class="ui-g-3">
                SMPT server address
              </div>
              <div class="ui-g-7">
                  <input pInputText type="text" [(ngModel)]="settings['email'].data.serverSmtp" placeholder="smtp.server.com">
              </div>
        </div>
        <div>
            <div class="ui-g-3">
                Numer portu
              </div>
              <div class="ui-g-7">
                  <input pInputText type="number" [(ngModel)]="settings['email'].data.port" placeholder="465">
              </div>
        </div>
        <div>
            <div class="ui-g-3">
                Username
              </div>
              <div class="ui-g-7">
                  <input pInputText type="text" [(ngModel)]="settings['email'].data.username" placeholder="user1234">
              </div>
        </div>
        <div>
            <div class="ui-g-3">
                Password
              </div>
              <div class="ui-g-7">
                  <input pInputText type="password" [(ngModel)]="settings['email'].data.password" placeholder="********">
              </div>
        </div>
        <div>
            <div class="ui-g-3">
                Czas (w minutach), po którym nastąpi ponowne wysłanie maila
              </div>
              <div class="ui-g-7">
                  <input pInputText type="number" [(ngModel)]="settings['email'].data.interval" placeholder="10">
              </div>
        </div>
        <p-button label="Zapisz" (onClick)="save(settings['email'], 'email')"></p-button>
      </p-fieldset>
  </div>
</div>
