<p-table [value]="notificationsResults" [paginator]="true" selectionMode="single" [rows]="10" dataKey="description">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2.25em"></th>
            <th>Powiadomienia i dane</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pRowToggler]="rowData">
            <td>
                <a href="#">
                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                </a>
            </td>
            <td>
                <div class="ui-g">
                    <div class="ui-g-6"><b>{{rowData.description}}</b></div>
                    <div class="ui-g-6">sprawdzono plików: <b>{{rowData.visitedLogs.length}}</b>, znalezionych wpisów: <b>{{rowData.files.length}}</b></div>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td colspan="2">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <div class="ui-g file-entry" *ngFor="let file of rowData.files.reverse(); index as i">
                                    <div class="ui-g-2"><strong>{{i + 1}} Plik:</strong> {{file.path}}/{{file.filename}}</div>
                                    <div class="ui-g-2"><strong>Data ostatniej modyfikacji:</strong> {{file.date}}</div>
                                    <div class="ui-g-2"><strong>Numer linii w pliku:</strong> {{file.lineNumber}}</div>
                                    <div class="ui-g-2"><strong>Zmienna:</strong> {{file.variable.name}}</div>
                                    <div class="ui-g-2"><strong>Wartość:</strong> {{file.variable.value}}</div>
                                    <div class="ui-g-2">
                                        <p-button label="Usuń" (click)="deleteNotificationResult(rowData, i)"></p-button>
                                    </div>
                                    <div class="ui-g-11 ui-g-offset-1">
                                        <strong>Zawartość linii</strong>
                                        <div class="line-content">{{file.line}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
