<p-table [value]="host.rulesSet" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nazwa zmiennej</th>
            <th>Wartość</th>
            <th>Znalezione wpisy</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr *ngFor="let variable of rowData.variables">
            <td>{{variable.name}}</td>
            <td>{{variable.value}}</td>
            <td>
              <p *ngFor="let file of variable.files">
                Plik: {{file.filename}}<br/>
                Ścieżka: {{file.path}}<br/>
                Numer linii: {{file.lineNumber}}<br/>
                Linia: {{file.line}}
              </p>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-trash" (click)="deleteAllLogs()" label="Usuń wszystkie"></button>
        </div>
    </ng-template>
</p-table>
