<div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-2">Wybierz hosta</div>
      <div class="ui-g-10"><p-dropdown [options]="hosts" [(ngModel)]="notification.hostId" optionLabel="name" dataKey="_id"  placeholder="Wybierz hosta"></p-dropdown></div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">Opis</div>
      <div class="ui-g-10"><input type="text" pInputText id="description" [(ngModel)]="notification.description" /></div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">Email</div>
      <div class="ui-g-10"><input type="email" pInputText id="email" [(ngModel)]="notification.email" placeholder="mail@example.com"/></div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">Wybierz zestawy reguł</div>
      <div class="ui-g-10"><p-multiSelect [options]="rulesSets" [(ngModel)]="notification.rulesSets" optionLabel="name" dataKey="_id" defaultLabel="Wybierz zestawy reguł" (onChange)="loadVariablesFromRulesSets()"></p-multiSelect></div>
    </div>
    <div class="ui-g-12" *ngIf="notification.rulesSets.length">
      <div class="ui-g-2">Zmienne</div>
      <div class="ui-g-10">
        <div *ngFor="let variablesSet of notification.requiredVariablesSets">
            <div class="ui-inputgroup" *ngFor="let variable of variablesSet; let i = index" style="margin-bottom: 0.5em" >
              <span class="ui-inputgroup-addon ui-g-3">{{variable.name}}&nbsp;=</span>
              <input pInputText id="variableValue" [(ngModel)]="variable.value" class="ui-g-4" />
              <span class="ui-inputgroup-addon ui-g-2" >Następniki:</span>
              <p-multiSelect class="next-variables" [options]="nextVariables[i]" [(ngModel)]="variable.nextVariables" optionLabel="name" dataKey="name" defaultLabel="Wybierz zmienną"></p-multiSelect>
              <span class="ui-inputgroup-addon" (click)="removeVariable(variablesSet, i)" *ngIf="variablesSet.length > 1"><i class="fa fa-minus-circle"></i></span>
            </div>
            <button pButton class="no-fluid-button ui-button-secondary" style="margin-bottom: 0.8em" (click)="removeVariableSet(variablesSet)" icon="fa-minus-circle" label="Usuń powyższy zestaw zmiennych" *ngIf="notification.requiredVariablesSets.length > 1"></button>
          </div>
      </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-2">Czas uruchamiania (reguła Cron)</div>
        <div class="ui-g-10"><input type="text" pInputText id="schedule" [(ngModel)]="notification.schedule" placeholder="* * * * * *" /></div>
      </div>
</div>

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button type="button" pButton icon="fa-plus" class="ui-button-info" label="Dodaj alternatywny zestaw wartości zmiennych" (click)="addAlternativeSet()" *ngIf="notification.requiredVariablesSets"></button>
    </div>

    <div class="ui-toolbar-group-right">
        <button type="button" pButton icon="fa-close" class="ui-button-danger" (click)="delete()" label="Usuń"></button>
        <button type="button" pButton icon="fa-check" class="ui-button-success" (click)="save()" label="Zapisz"></button>
    </div>
</p-toolbar>

