<p-table [value]="rules" [paginator]="true" selectionMode="single" [(selection)]="selectedRuleSet" (onRowSelect)="onRowSelect($event)" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nazwa zmiennej</th>
            <th>Reguły</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr routerLink="/rule/new" [pSelectableRow]="rowData" *ngFor="let variable of rowData.variables">
            <td>{{variable.name}}</td>
            <td>
              <ul>
                <li *ngFor="let rule of variable.rules">{{rule.regExp}} [{{rule.startTime | date:'HH:mm'}} - {{rule.stopTime |  date:'HH:mm'}}] = {{rule.value}}</li>
              </ul>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-download" routerLink="/rule/new" (click)="onAddNewRule()" label="Dodaj regułę"></button>
        </div>
    </ng-template>
</p-table>
