<p-table [columns]="cols" [value]="hosts" selectionMode="single" [(selection)]="selectedHost" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [style.width]="col.width">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <span *ngIf="!isArray(rowData[col.field])">{{rowData[col.field]}}</span>
                <ul *ngIf="isArray(rowData[col.field])">
                    <li *ngFor="let p of rowData[col.field]">{{p.path}}</li>
                </ul>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-download" (click)="showDialogToAdd()" label="Dodaj nowy"></button>
        </div>
    </ng-template>

</p-table>

<p-dialog header="Szczegóły hosta" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
    <div class="ui-g ui-fluid" *ngIf="host">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Nazwa</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="host.name"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Adres</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="address" [(ngModel)]="host.address" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Protokół</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown placeholder="Select a protocol" [style]="{'width': '100%'}" [options]="protocols" [(ngModel)]="host.protocolType" optionLabel="label" dataKey="value" ></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Port</label>
            </div>
            <div class="ui-g-8">
                <input pInputText type="number" id="port" [(ngModel)]="host.port" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">Login/username</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="login" [(ngModel)]="host.login" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="color">Hasło</label>
            </div>
            <div class="ui-g-8">
                <input pInputText type="password" id="password" [(ngModel)]="host.password" />
            </div>
        </div>
        <div class="ui-g-12" *ngFor="let path of host.paths; let index = index; trackBy:trackByIndex">
            <div class="ui-g-4">
                <label for="color">Ścieżka</label>
            </div>
            <div class="ui-g-8">
                <div>
                    <div class="ui-inputgroup" style="margin-bottom: 0.5em">
                        <input type="text" pInputText [(ngModel)]="host.paths[index].path">
                        <button pButton type="button" icon="fa-minus-circle" class="ui-button-default" (click)="removePath(path)"></button>
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                <label for="color">Wzorzec daty i czasu</label>
            </div>
            <div class="ui-g-8">
                <div>
                    <input type="text" pInputText [(ngModel)]="host.paths[index].pattern">
                </div>
            </div>
            <div class="ui-g-4">
                <label for="color">Format daty i czasu</label>
            </div>
            <div class="ui-g-8">
                <div>
                    <input type="text" pInputText [(ngModel)]="host.paths[index].datetimeFormat">
                </div>
            </div>
        </div>
        <button type="button" pButton icon="fa-plus" (click)="addPathInput()" label="Dodaj scieżkę"></button>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <button type="button" style="float: left" pButton icon="fa-trash" (click)="delete()" label="Usuń" class="ui-button-danger"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton icon="fa-close" (click)="save()" label="Zapisz"></button>
                    <button type="button" class="ui-button-secondary" pButton icon="fa-check" (click)="displayDialog = false" label="Anuluj"></button>
                </div>
            </div>
        </div>
    </p-footer>
</p-dialog>
