<p-table [value]="notifications" [paginator]="true" selectionMode="single" [(selection)]="selectedNotification" (onRowSelect)="onRowSelect($event)" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nazwa hosta</th>
            <th>Opis</th>
            <th>Email</th>
            <th>Zmienne</th>
            <th>Schedule</th>
            <th>Menu</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>{{rowData.hostId.name}}</td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.email}}</td>
            <td>
                <ul>
                    <li *ngFor="let varSet of rowData.requiredVariablesSets">
                        [<span *ngFor="let v of varSet; last as isLast">{{v.name}}={{v.value}}<span *ngIf="!isLast">, </span></span>]
                    </li>
                </ul>
            </td>
            <td>{{rowData.schedule}}</td>
            <td>
                <p-button label="Sprawdź" (click)="runNotification(rowData)"></p-button>
                <p-button label="Schedule" (click)="scheduleNotification(rowData)" *ngIf="!rowData.inProgress"></p-button>
                <button pButton label="Stop Schedule" (click)="stopNotification(rowData)" *ngIf="rowData.inProgress" class="ui-button-danger"></button>
                <button pButton icon="fa-trash" label="Usuń" (click)="removeNotification(rowData)"></button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-pencil" routerLink="/notifications/new" (click)="onAddNewNotification()" label="Stwórz powiadomienie"></button>
        </div>
    </ng-template>
</p-table>