<p-table [columns]="cols" [value]="logs" [lazy]="true" (onLazyLoad)="loadLogsLazy($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>Menu</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <button type="button" pButton icon="fa-trash" (click)="removeLog(rowData)" label="Usuń log"></button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-trash" (click)="deleteAllLogs()" label="Usuń wszystkie"></button>
        </div>
    </ng-template>
</p-table>
